*.aux
main-no-animation.log
main-no-animation.nav
main-no-animation.out
main-no-animation.snm
main-no-animation.toc
main.pdf
main.log
main.nav
main.out
main.snm
main.toc
main.pdf
main-no-animation.pdf

texput.log
.main.tex.swp
